*_written_step*.png
*.mp4
*.h264
setup/*
*.py~

images_videos/

opencv_direction_indicator_detection/direction_indicator_active_night/
opencv_direction_indicator_detection/direction_indicator_active_web/
opencv_direction_indicator_detection/direction_indicator_inactive_night/